server/test/input/schema/simpleElement/simpleElement.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.pazureck.de/SimpleSchema" version="1.0" xml:lang="EN" elementFormDefault="qualified">
    <xs:element name="base">
        <xs:complexType>
            <xs:complexContent>
                <xs:sequence>
                    <xs:element name="lastname" type="xs:string"/>
                    <xs:element name="age" type="xs:integer"/>
                    <xs:element name="dateborn" type="xs:date"/>
                </xs:sequence>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>